.game-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: column;
    margin: 10px;
    align-items: center;
}

button {
    display: inline-block;
}


.rock_button {
    width: 10rem;
    height: 10rem;
    background-image: url(rock.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: none;
    background-color: white;
}

.sissor_button {
    background-image: url(sissor.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 10rem;
    height: 10rem;
    background-color: rgb(255, 255, 255);
    border: none;
    background-color: white;
}

.paper_button {
    background-image: url(paper.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 10rem;
    height: 10rem;
    background-color: rgb(255, 255, 255);
    border: none;
}